@keyframes body {
    0% {background-color: rgb(226, 66, 66);}
    15% {background-color: blueviolet;}
    20% {background-color: rgb(18, 184, 206);}
    25% {background-color: rgb(240, 217, 15);}
    30% {background-color: rgb(252, 124, 4);}
    40% {background-color: rgb(131, 243, 2);}
    50% {background-color: rgb(9, 48, 58);}
    55% {background-color: rgb(236, 13, 188);}
    60% {background-color: rgb(233, 49, 49);}
    70% {background-color: rgb(1, 28, 63);}
    80% {background-color: rgb(20, 233, 116);}
    90% {background-color: rgb(12, 226, 241);}
    100% {background-color: rgb(0, 172, 43);}
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

body {
    height: 100vh;
    animation-name: body;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px black;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px black;
    border-radius: 50px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 19px;
}